<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{url_for('static', filename=" css/style.css")}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sauce Burguer</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
      socket.emit('my_event', { data: 'Conectado' });
    });

    socket.on('atualizacao', function (data) {
      console.log(data);
      location.reload(true);
    });
  </script>
</head>

<body>
  <center>
    <h1>Finalizar Pedidos</h1>
  </center>
  <h1 style="width: 100%;">Pedidos ativos</h1>
  <div class="container">
    <div class="ativos">
      <div class="infos">
        <ul>
          {% for pedido in pedidos %}
          <div class="infos">
            <li>ID: {{ pedido.id }}</li>
            <li>Total: R$ {{ pedido.total }}</li>
            <li>Produtos:</li>
            <li>{% for produto in pedido.lanches %}</li>
            <li>{{ produto.nome }}</li>
            {% endfor %}

        </ul>
        <form method="post" action="/cozinha/finalizar/{{pedido.id}}">
          <button>Finalizar pedido</button>
        </form><br />
        {% endfor %}
      </div>
    </div>
</body>

</html>