{% block header %}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
      socket.emit('my_event', {data: 'Conectado'});
    });

    socket.on('pedido', function(data) {
      console.log("NOVO PEDIDO");
      alert(`PEDIDO PRONTO, MESA: ${data}`)
    });
  </script>

<div class="overlay">
    <label for="toggle"></label>
</div>
<a href="/"><img src="{{url_for('static', filename="images/logo_topo.png")}}" width="120" height="50" style="position: absolute; z-index: 3; padding: 15px 15px"/></a>
<input type="checkbox" id="toggle" name="toggle">
<div class="verticalNav">
    <a href="/"><i class="fas fa-home"></i></a>
    {% if cargo == "administrador" %}<a href="/gerenciar"><i class="fas fa-cogs"></i></a>
    <a href="/adicionar"><i class="fas fa-plus"></i></a>{% endif %}
    <a href="/carrinho"><i class="fas fa-shopping-cart"></i></a>
    {% if usuario == None %}<a href="/login"><i class="fas fa-sign-in-alt"></i></a>{% endif %}{% if usuario %}<a href="/deslogar"><i class="fas fa-sign-out-alt"></i></a>{% endif %}
</div>
{% endblock %}